<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="portraitFile" id="portraitFile" accept="image/*">
      <input type="submit" value="Upload">
    </form>
    <hr>
    <img width="150px" height="150px" src="<%= typeof imgUrl !== 'undefined' ? imgUrl : '/images/default.jpg' %>" alt="">
  </body>
</html>
